#file {
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 0;
}

.missing{
    border: 1px solid red;
}


.imgContainer {
    height: 200px;
    width: 200px;
    background-color: rgba(0,0,0,0.2);
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: auto;
    }

    > div {
        font-size: 0;
    }

    .type-default,
    .type-divided,
    .type-edge {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        &.active {
            display: block;
        }

        > div {
            box-sizing: border-box;
            border: 1px solid black;
            background: rgba(0,0,0,0.1);
            cursor: pointer;

            &.selected,
            &.selected:hover {
                background: rgba(255, 0, 0,0.2);
            }

            &:hover {
                background: rgba(0,0,0,0.2);
            }
        }
    }

    .type-default > div {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .type-divided > div {
        display: inline-block;
        width: 50%;
        height: 100%;
    }

    .horizontal {
        &.type-divided > div {
            width: 100%;
            height: 50%;
        }
    }

    .type-edge > div {
        width: 50%;
        height: 50%;
        display: inline-block;
    }
}

.path,
.subtypeInfo {
    display: none;
}

.path.active,
.subtypeInfo.active {
    display: block;
}
