#file {
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 0;
}

.missing {
    border: 1px solid red;
}

.imgContainer {
    height: 200px;
    width: 200px;
    background-color: rgba(0,0,0,0.2);
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: auto;
    }

    > div {
        font-size: 0;
    }

    .collision {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        > div {
            box-sizing: border-box;
            border: 1px solid black;
            background: rgba(0,0,0,0.1);
            cursor: pointer;
            width: 25%;
            height: 25%;
            display: inline-block;

            &.selected,
            &.selected:hover {
                background: rgba(255, 0, 0,0.2);
            }

            &:hover {
                background: rgba(0,0,0,0.2);
            }
        }
        &.parts-4 > div{
            width: 50%;
            height: 50%;
        }
        &.parts-9 > div{
            width: 33.333%;
            height: 33.333%;
        }
        &.parts-16 > div{
            width: 25%;
            height: 25%;
        }
    }
}

.path,
.subtypeInfo {
    display: none;
}

.path.active,
.subtypeInfo.active {
    display: block;
}
