/*
sass --sourcemap=none -C --watch /var/www/CanvasGame/Resources/SCSS:/var/www/CanvasGame/Resources/CSS
sassc /var/www/florian/www/Resources/SCSS/basic.scss > /var/www/florian/www/Resources/CSS/basic.css;sassc /var/www/florian/www/Resources/SCSS/floor.scss > /var/www/florian/www/Resources/CSS/floor.css;sassc /var/www/florian/www/Resources/SCSS/game.scss > /var/www/florian/www/Resources/CSS/game.css;sassc /var/www/florian/www/Resources/SCSS/gen.scss > /var/www/florian/www/Resources/CSS/gen.css;sassc /var/www/florian/www/Resources/SCSS/tile.scss > /var/www/florian/www/Resources/CSS/tile.css
*/
/***********************************
*************** reset **************
***********************************/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

body {
  height: 100vh;
  display: block; }
