* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
}

.controls {
    position: relative;
}

input[type=range] {
    position: absolute;
    height: 40px;
}

input[type=range][orient=vertical] {
    top: 80px;
    left: -40px;
    transform: rotate(90deg);
    height: 40px;
}

input[type=range][orient=horizontal] {
    position: absolute;
    left: 40px;
    top: 0;
}

.controls span {
    margin-top: 10px;
    display: inline-block;
}

.controls span.range-x {
    margin-left: 200px;
    padding-right: 10px;
}

.controls span.range-y {
    padding-left: 10px;
}

.gridContainer {
    position: absolute;
    border: 1px solid black;
    font-size: 0;
    margin: 50px;
    box-sizing: border-box;
}

.gridContainer>div {
    display: inline-block;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    cursor: pointer;
    overflow: hidden;
}

.gridContainer>div>div {
    height: 100%;
    width: 100%;
}

.gridContainer>div.isSelected {
    border: 0;
}

.tiles {
    font-size: 0;
    background: rgba(0, 0, 0, 0.1);
}

.tile {
    height: 100px;
    display: inline-block;
    width: 100px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.tile>img {
    position: absolute;
    width: 100%;
}

.tile.isSelected {
    border: 5px solid #000;
}

.tiles .start {
    background: grey;
}

.tiles .end {
    background: grey;
}

.tiles .water {
    background: blue;
}

.tiles .dirt {
    background: brown;
}

.tiles .snow {
    background: rgb(255, 240, 255);
}

.tiles .sand {
    background: #e87d56;
}

.tiles div:after {
    content: attr(data-type);
    position: absolute;
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
}

#gameCanvas {
    margin-top: 20px;
    margin-left: 50px;
}
.dbError{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    background: red;
    text-align: center;
}
