                       /***********************************
************** body *****************
***********************************/
body {
  background: rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 80px auto;
  grid-template-areas: "nav description aside" "main main aside"; }

/***********************************
************** nav *****************
***********************************/
nav {
  grid-area: nav;
  vertical-align: middle;
  padding: 20px; }
  nav a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-right: 10px;
    border-radius: 3px; }
    nav a.active {
      color: #FFF;
      background: #000; }

main {
  grid-area: main;
  padding: 20px; }

aside {
  grid-area: aside;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px; }

.infoBox {
  padding: 20px;
  grid-area: description; }
  .infoBox > span {
    display: none;
    padding: 5px 10px;
    color: #FFF; }
    .infoBox > span.active {
      display: block; }
  .infoBox .error {
    background: #b50000; }
  .infoBox .success {
    background: #01a915; }
  .infoBox .info {
    background: #e0c60d; }

/***********************************
*************** form ***************
***********************************/
input,
label,
select {
  border: 0;
  width: 100%;
  padding: 5px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 3px; }

input[type="submit"],
input[type="reset"],
input[type="file"],
.upload {
  height: 30px;
  line-height: 30px;
  padding: 0;
  cursor: pointer;
  background-color: #ddd; }

/***********************************
********** style classes ************
***********************************/
.spacer {
  margin-bottom: 20px; }

.padding-lr {
  padding-left: 20px;
  padding-right: 20px; }

.padding-lr-m {
  padding-left: 10px;
  padding-right: 10px; }

.padding-lr-s {
  padding-left: 5px;
  padding-right: 5px; }

.padding-tb {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding-tb-m {
  padding-top: 10px;
  padding-bottom: 10px; }

.padding-tb-s {
  padding-top: 5px;
  padding-bottom: 5px; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.block {
  display: block; }

.flex.flex-b,
.block.flex-b {
  margin-left: -20px;
  margin-right: -20px; }
.flex.flex-m,
.block.flex-m {
  margin-left: -10px;
  margin-right: -10px; }
.flex.flex-s,
.block.flex-s {
  margin-left: -5px;
  margin-right: -5px; }

.inline {
  display: inline-flex;
  vertical-align: top;
  max-width: 100%;
  box-sizing: border-box; }

.flex-min {
  min-width: 250px; }

.g10 {
  width: 10%; }

.g20 {
  width: 20%; }

.g30 {
  width: 30%; }

.g33 {
  width: 33.333%; }

.g40 {
  width: 40%; }

.g50 {
  width: 50%; }

.g60 {
  width: 60%; }

.g66 {
  width: 66.666%; }

.g70 {
  width: 70%; }

.g90 {
  width: 90%; }

.g100 {
  width: 100%; }

@media only screen and (max-width: 1000px) {
  .g10,
  .g20,
  .g30,
  .g33,
  .g40 {
    width: 50%; }

  .g50,
  .g60,
  .g66,
  .g70,
  .g90 {
    width: 100%; } }
