#file {
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0; }

.missing {
  border: 1px solid red; }

.imgContainer {
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative; }
  .imgContainer img {
    position: absolute;
    width: 100%;
    height: auto; }
  .imgContainer > div {
    font-size: 0; }
  .imgContainer .collision {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .imgContainer .collision > div {
      box-sizing: border-box;
      border: 1px solid black;
      background: rgba(0, 0, 0, 0.1);
      cursor: pointer;
      width: 50%;
      height: 50%;
      display: inline-block; }
      .imgContainer .collision > div.selected, .imgContainer .collision > div.selected:hover {
        background: rgba(255, 0, 0, 0.2); }
      .imgContainer .collision > div:hover {
        background: rgba(0, 0, 0, 0.2); }

.path,
.subtypeInfo {
  display: none; }

.path.active,
.subtypeInfo.active {
  display: block; }
