<main>
    <!-- <div class="controls flex flex-m">

    </div> -->
    <div class="g100 flex flex-m inline padding-lr-m spacer">
        <div class="canvasContainer">
            <canvas id="grid"></canvas>
        </div>
    </div>
    <div class="g100 inline padding-tb-s">
        <button class="g50 addToGrid padding-tb-s">add Row</button>
    </div>
</main>
<aside>
    <div class="container block flex-m">
        <div class="g100 inline padding-lr-m spacer">
            <div class="g100">
                <div class="g100 padding-tb-s">
                    <div class="canvasContainer">
                        <canvas id="world"></canvas>
                    </div>
                    <div class="g100 inline padding-tb-s">
                        <label for="file" class="upload padding-lr-m g100 inline">Upload File</label>
                        <input id="file" class="g100 block" type="file"><br>
                    </div>
                </div>
                <!-- <div class="g100 inline padding-tb-s">
                    <label class="g30 inline">Load Asset</label>
                    <select class="tiles g70 inline"></select>
                </div> -->
                <div class="g100 inline padding-tb-s">
                    <label class="g30 inline">Set Type</label>
                    <select class="tile-type g70 inline"></select>
                </div>
                <div class="g100 inline padding-tb-s">
                    <label class="g30 inline">Factor</label>
                    <input class="tile-factor g70 inline" />
                </div>
                <div class="g100 inline padding-tb-s">
                    <label class="g30 inline">Name</label>
                    <input class="tile-name g70 inline" />
                </div>
                <div class="g100 inline padding-tb-s">
                    <label class="g30 inline">Collision</label>
                    <input class="tile-collision g70 inline" />
                </div>
                <div class="g100 requirements padding-tb-s">
                    <div class="g100 inline padding-tb-s">
                        <label class="g30 inline">Requirements</label>
                        <div class="new g70 inline padding-tb-s">New Requirements</div>
                    </div>
                    <div class="g100 inline padding-tb-s">
                        <label class="g30 inline"></label>
                        <div class="req-container g70"></div>
                    </div>
                </div>
                <div class="g100 inline padding-tb-s">
                    <label class="g30 inline">Position</label>
                    <input class="tile-pos g70 inline" />
                </div>
                <div class="g100 inline padding-tb-s spacer">
                    <label class="g30 inline">Save Path:</label>
                    <label class="inline">
                        Resources/Images/Floor/<span class="tile-folder"></span>/<span class="tile-name"></span>.webp
                    </label>
                </div>
                <!-- <div class="g100 inline padding-tb-s">
                    <label class="g30 inline">Factor</label>
                    <input class="tile-factor g70 inline" />
                </div>
                <div class="tileName g100 inline padding-tb-s">
                    <label for="name" class="g30 inline">Set Name</label>
                    <input id="name" class="tile-name g70 inline" />
                </div>
                <div class="g100 inline padding-tb-s spacer">
                    <label class="g100 inline">
                        Click squars on the picture to set collision<br />
                        Red = collision
                    </label>
                </div>
                <div class="path g100 inline padding-tb-s spacer">
                    <label class="g30 inline">Save Path:</label>
                    <label class="inline">
                        Resources/Images/Floor/<span class="pathType"></span>/<span class="pathName"></span><span><span class="extension"></span></span>
                    </label>
                </div> -->
                <div class="inputContainer g100 inline padding-tb-s">
                    <input type="submit" class="saveAsset" value="Save Asset" />
                </div>
                <div class="inputContainer g100 inline padding-tb-s">
                    <input type="submit" class="deleteAsset" value="Delete Asset" />
                </div>
            </div>
        </div>
    </div>
    <div class="custom block padding-tb padding-lr">
        <div class="g100 inline">
            <div class="g100">
                <div class="inputContainer g100 inline padding-tb-s">
                    <label class="g30 inline">Amount</label>
                    <input class="amount g70 inline" type="number" min="0" />
                </div>
                <div class="custom-container"></div>
                <div class="flex flex-s">
                    <div class="g50 inline padding-lr-s">
                        <input type="submit" class="close" value="Close" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
