/*
sass --sourcemap=none -C --watch /var/www/CanvasGame/Resources/SCSS:/var/www/CanvasGame/Resources/CSS
sassc /var/www/florian/www/Resources/Public/Scss/basic.scss > /var/www/florian/www/Resources/Public/Css/basic.css;sassc /var/www/florian/www/Resources/Public/Scss/floor.scss > /var/www/florian/www/Resources/Public/Css/floor.css;sassc /var/www/florian/www/Resources/Public/Scss/game.scss > /var/www/florian/www/Resources/Public/Css/game.css;sassc /var/www/florian/www/Resources/Public/Scss/gen.scss > /var/www/florian/www/Resources/Public/Css/gen.css;sassc /var/www/florian/www/Resources/Public/Scss/tile.scss > /var/www/florian/www/Resources/Public/Css/tile.css
*/
/***********************************
*************** reset **************
***********************************/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif; }

body {
  height: 100vh;
  display: block; }
