/*
sassc /var/www/florian/www/Resources/Public/Scss/Basic.scss > /var/www/florian/www/Resources/Public/Css/Basic.css;sassc /var/www/florian/www/Resources/Public/Scss/Floor.scss > /var/www/florian/www/Resources/Public/Css/Floor.css;sassc /var/www/florian/www/Resources/Public/Scss/Game.scss > /var/www/florian/www/Resources/Public/Css/Game.css;sassc /var/www/florian/www/Resources/Public/Scss/Gen.scss > /var/www/florian/www/Resources/Public/Css/Gen.css;sassc /var/www/florian/www/Resources/Public/Scss/Tile.scss > /var/www/florian/www/Resources/Public/Css/Tile.css
*/
/***********************************
*************** reset **************
***********************************/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: block;
}
