$global_padding: 20px; /***********************************
************** body *****************
***********************************/

body {
    background: rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 80px auto;
    grid-template-areas: "nav description aside" "main main aside";
}
/***********************************
************** nav *****************
***********************************/
// always on the left

nav {
    grid-area: nav;
    vertical-align: middle;
    padding: $global_padding;

    a {
        color: #000;
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #000;
        margin-right: 10px;
        border-radius: 3px;

        &.active {
            color: #FFF;
            background: #000;
        }
    }
}

main {
    grid-area: main;
    padding: $global_padding;
    box-sizing: border-box;
}

aside {
    grid-area: aside;
    overflow-y: auto;
    background: rgba(0,0,0,0.2);
    padding: $global_padding;
}
// always on the right
.infoBox {
    padding: $global_padding;
    grid-area: description;

    > span {
        display: none;
        padding: 5px 10px;
        color: #FFF;

        &.active {
            display: block;
        }
    }

    .error {
        background: #b50000;
    }

    .success {
        background: #01a915;
    }

    .info {
        background: #e0c60d;
    }
}
/***********************************
*************** form ***************
***********************************/
input,
label,
select {
    border: 0;
    width: 100%;
    padding: 5px;
    height: 25px;
    box-sizing: border-box;
    border-radius: 3px;
}

input[type="submit"],
input[type="reset"],
input[type="file"],
.upload {
    height: 30px;
    line-height: 30px;
    padding: 0;
    cursor: pointer;
    background-color:#ddd;
}
/***********************************
********** style classes ************
***********************************/
.spacer{
    margin-bottom: $global_padding;
}
.padding-lr {
    padding-left: $global_padding;
    padding-right: $global_padding;
}

.padding-lr-m {
    padding-left: $global_padding/2;
    padding-right: $global_padding/2;
}

.padding-lr-s {
    padding-left: $global_padding/4;
    padding-right: $global_padding/4;
}

.padding-tb {
    padding-top: $global_padding;
    padding-bottom: $global_padding;
}

.padding-tb-m {
    padding-top: $global_padding/2;
    padding-bottom: $global_padding/2;
}

.padding-tb-s {
    padding-top: $global_padding/4;
    padding-bottom: $global_padding/4;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.block {
    display: block;
}
.flex,
.block {
    &.flex-b{
        margin-left: -$global_padding;
        margin-right: -$global_padding;
    }
    &.flex-m{
        margin-left: -$global_padding/2;
        margin-right: -$global_padding/2;
    }
    &.flex-s{
        margin-left: -$global_padding/4;
        margin-right: -$global_padding/4;
    }
}



.inline {
    display: inline-flex;
    vertical-align: top;
    max-width: 100%;
    box-sizing: border-box;
}

.flex-min {
    min-width: 250px;
}

.g10 {
    width: 10%;
}

.g20 {
    width: 20%;
}

.g30 {
    width: 30%;
}

.g33 {
    width: 33.333%;
}

.g40 {
    width: 40%;
}

.g50 {
    width: 50%;
}

.g60 {
    width: 60%;
}

.g66 {
    width: 66.666%;
}

.g70 {
    width: 70%;
}

.g90 {
    width: 90%;
}

.g100 {
    width: 100%;
}
@media only screen and (max-width: 1000px) {
    .g10,
    .g20,
    .g30,
    .g33,
    .g40 {
        width: 50%;
    }

    .g50,
    .g60,
    .g66,
    .g70,
    .g90 {
        width: 100%;
    }
}
